.CountryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.CountryList__country-card {
  background: var(--grey);
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  height: fit-content;
}

.CountryList__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 1rem;
}

.CountryList__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  gap: 2rem;
  margin: 2rem;
}

.CountryList__filters-wrapper {
  display: flex;
  padding: 0 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.CountryList__search-wrapper {
  display: flex;
  align-items: center;
  background: var(--grey);
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.CountryList__search-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7487%)
    hue-rotate(169deg) brightness(120%) contrast(101%);
  width: 1.5rem;
}

/* .CountryList__search {
} */

.CountryList__search:focus {
  border: none;
  outline: none;
}

.CountryList__name {
  font-size: 1.5rem;
  font-weight: 800;
}

.CountryList__dropdown-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7487%)
    hue-rotate(169deg) brightness(120%) contrast(101%);
  width: 1.5rem;
}

.CountryList__dropdown-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--grey);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 1rem 0;
}

.CountryList__dropdown-options {
  background: var(--grey);
  padding: 1rem;

  gap: 0.5rem;
  border-radius: 0.2rem;
  position: absolute;
  width: 11.5rem;
  top: 4rem;
  display: none;
}

.CountryList__option {
  cursor: pointer;
  width: fit-content;
}

.CountryList__dropdown-wrapper {
  position: relative;
}

.CountryList__dropdown-wrapper:hover .CountryList__dropdown-options {
  display: grid;
}
