*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: none;
  background: rgba(146, 146, 146, 0.266);
  outline: dotted 2px;
}

html {
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
