@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-grey: #202d36;
  --grey: #2b3743;
  --white: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: none;
  /* background: rgba(146, 146, 146, 0.266);
  outline: dotted 2px; */
  color: var(--white);
}

html {
  background: var(--dark-grey);
  font-family: "Nunito Sans", sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

b {
  font-weight: 800;
}
