.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.Nav__home {
  text-decoration: none;
  font-weight: 800;
}

.Nav__dark-mode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.Nav__dark-mode-icon {
  width: 1.5rem;
  filter: var(--filter-white);
}
