.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.Nav__home {
  text-decoration: none;
  font-weight: 800;
}

.Nav__dark-mode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.Nav__dark-mode-icon {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7487%)
    hue-rotate(169deg) brightness(120%) contrast(101%);
}
